:root{
  --mainGrey: #262525;
  --mainWhite: #fff ;
  --mainDark: #222;
  --mainBeige: #EFDDCE;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Courier New', monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-grey {
  color: var(--mainGrey);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainGrey);
  font-size: 2rem;
}
